<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="core.dao.mappers.UserMapper">

    <select id="findById" resultType="core.model.User">
        <include refid="userSelect"/>
        WHERE u.id = #{id}
    </select>

    <sql id="userSelect">
        SELECT *
        FROM users u
    </sql>

    <insert id="save" parameterType="core.model.User">
        INSERT INTO users(
        name,
        username,
        email,
        birth_date
        <if test="role != null ">
            ,role
        </if>
        ) VALUES (
        #{name},
        #{username},
        #{email},
        #{birthDate}
        <if test="role != null ">
            ,#{role}
        </if>
        )
    </insert>

</mapper>